.button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    width: 100;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.new-button{
    /* align-items: center; */
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    /* display: flex; */
    font-family: Phantomsans, sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8em;
    color: #fff;
    padding: 0.5em .5em;
    border-radius: 0.3em;
    font-weight: bold;
    margin-bottom: 1em;
    min-width: 30%;
}

.panel-body {
    background-image:linear-gradient(144deg,#231955, #1B2430 50%,#111718);
}
.panel-heading{
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

input{
    color: #FFFFFF;
}

.message{
    color: #FFFFFF;
}
p{
    color: #FFFFFF;
}
.loggedin-message{
    padding-bottom: 5%;
}
.buttonrow{
    align-items: flex;
    padding-top: 2em;
}